*.log
*.tex
*.pdf
*.blg
*.bbl
*.bbl
treecompareR_JSS_ms.bbl
treecompareR_JSS_ms.pdf
treecompareR_JSS_ms.log
treecompareR_JSS_ms.tex
treecompareR_JSS_ms.pdf
*.png
biosolids-circ-boxplot_fig12.pdf
biosolids-circ-boxplot_fig12.png
